* {
    font-family:'Poppins', Arial, Helvetica, sans-serif;
}

.header {
    background-color: #84387b;
    color: white;
    font-weight: lighter;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

button {
    background-color:#84387b;
    color: white;
    border-radius: 2px;
    padding: 10px;
}

#result {
    text-align: center;
}

#returnLink {
    text-align: center;
}